/* MIXIN FLEX CENTER */
@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MIXIN FLEX BETWEEN */
@mixin flex-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* MIXIN CARD */
@mixin card-style() {
  background: $color-blanco;
  padding: $spacing-md;
  border-radius: $border-radius-lg;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* MIXIN RESPONSIVE */
@mixin responsive($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: 768px) {
      @content;
    }
  }
  @else if $breakpoint == "tablet" {
    @media (max-width: 1024px) {
      @content;
    }
  }
}
