.convenio-card {
  border: none;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }


  .img-container {
    position: relative;
    overflow: hidden;

    .convenio-img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      transition: filter 0.3s ease;
    }

    .overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px;
      transition: opacity 0.3s ease;
    }

    &:hover .overlay {
      opacity: 1;
    }

    &:hover .convenio-img {
      filter: blur(1px) brightness(70%);
    }
  }

  .direccion {
    font-size: 0.9rem;
  }
}
